@font-face{
    font-family:'BPreplay';
    font-style:normal;
    font-weight:400;
    src:local('BPreplay'),url(../font/400.woff) format('woff');
}
@font-face{
    font-family:'BPreplay';
    font-style:normal;
    font-weight:700;
    src:local('BPreplay Bold'),url(../font/700.woff) format('woff');
}

html, h1, h2, h3, h4, h5, h6, p, a, label, input, small, span {
    font-family: 'BPreplay', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}
textarea {
    border: 0 !important;
    background-color: transparent !important;
    overflow: auto !important;
}
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card {
    transition: all .5s ease;
    background-color: #fff;
    border: none;
    position: relative;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 0 0 2px #fff, 0 4px 17px 2px rgb(8, 35, 171, 0.1)!important;
}
.card:hover {
    box-shadow: 0 0 0 2px #fff, 0 7px 20px 2px rgb(8, 35, 171, 0.1)!important;
}
.card .card-header {
    background-color: transparent;
    border-bottom-color: transparent;
    line-height: 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
}
.card-header {
    padding: 15px 30px;
}
.card-footer {
    background-color: #fff;
    padding: 15px 30px;
}
.card .card-header:before {
    content: '';
    width: 3px;
    height: 25px;
    background: #3462f5;
    position: absolute;
    display: block;
    left: 0;
}
.card .card-body {
    background-color: transparent;
    padding: 20px 30px 20px 30px;
}
.header-nav {
    transition: all .15s ease;
    padding: .5rem 1rem;
    color: #3462f5;
    border-radius: 30px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.header-nav:hover {
    color: #fff;
    background: #3454f5;
    text-decoration: none;
}
.header-nav.active {
    transition: all .5s ease;
    color: #fff;
    background: #3454f5;
    box-shadow: 0 4px 20px 4px rgb(8, 35, 171, 0.1)!important;
}
.header-nav.active:hover {
    box-shadow: 0 2px 5px 1px rgb(8, 35, 171, 0.1)!important;
}
.btn {
    font-size: 14px;
    line-height: 23px;
    padding: 5px 23px;
    letter-spacing: .4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-radius {
    border-radius: 2em;
    padding: 6px 18px;
}
.btn-white {
    color: #3454f5;
    background-color: #fff;
}
.btn:hover {
    border-color: transparent !important;
    box-shadow: 0 2px 4px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.page-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
}