td.code {
    padding-left: 10px;
    overflow-x: scroll;
}

td.linenos {
    width: 1%;
    padding: 0 2px 0 5px;
    border-right: 1px solid #d0d0d0;
}

pre {
    line-height: 125%;
    color: #d0d0d0;
}

table.pastetable {
    width: 100%;
}

td.linenos {
    padding: 0 2px 0 5px;
    border-right: 1px solid #d0d0d0;
}

td.code {
    padding-left: 10px;
    overflow-x: scroll;

}

table.pastetable {
    width: 100%;
}

span.lineno {
    padding: 0 5px 0 5px;
}

pre {
    line-height: 125%;
    padding-top: 5px
}

body .c {
    color: #999999;
    font-style: italic
}

/* Comment */
body .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* Error */
body .esc {
    color: #d0d0d0
}

/* Escape */
body .g {
    color: #d0d0d0
}

/* Generic */
body .k {
    color: #6ab825;
    font-weight: bold
}

/* Keyword */
body .l {
    color: #d0d0d0
}

/* Literal */
body .n {
    color: #d0d0d0
}

/* Name */
body .o {
    color: #d0d0d0
}

/* Operator */
body .x {
    color: #d0d0d0
}

/* Other */
body .p {
    color: #d0d0d0
}

/* Punctuation */
body .ch {
    color: #999999;
    font-style: italic
}

/* Comment.Hashbang */
body .cm {
    color: #999999;
    font-style: italic
}

/* Comment.Multiline */
body .cp {
    color: #cd2828;
    font-weight: bold
}

/* Comment.Preproc */
body .cpf {
    color: #999999;
    font-style: italic
}

/* Comment.PreprocFile */
body .c1 {
    color: #999999;
    font-style: italic
}

/* Comment.Single */
body .cs {
    color: #e50808;
    font-weight: bold;
    background-color: #520000
}

/* Comment.Special */
body .gd {
    color: #d22323
}

/* Generic.Deleted */
body .ge {
    color: #d0d0d0;
    font-style: italic
}

/* Generic.Emph */
body .gr {
    color: #d22323
}

/* Generic.Error */
body .gh {
    color: #ffffff;
    font-weight: bold
}

/* Generic.Heading */
body .gi {
    color: #589819
}

/* Generic.Inserted */
body .go {
    color: #cccccc
}

/* Generic.Output */
body .gp {
    color: #aaaaaa
}

/* Generic.Prompt */
body .gs {
    color: #d0d0d0;
    font-weight: bold
}

/* Generic.Strong */
body .gu {
    color: #ffffff;
    text-decoration: underline
}

/* Generic.Subheading */
body .gt {
    color: #d22323
}

/* Generic.Traceback */
body .kc {
    color: #6ab825;
    font-weight: bold
}

/* Keyword.Constant */
body .kd {
    color: #6ab825;
    font-weight: bold
}

/* Keyword.Declaration */
body .kn {
    color: #6ab825;
    font-weight: bold
}

/* Keyword.Namespace */
body .kp {
    color: #6ab825
}

/* Keyword.Pseudo */
body .kr {
    color: #6ab825;
    font-weight: bold
}

/* Keyword.Reserved */
body .kt {
    color: #6ab825;
    font-weight: bold
}

/* Keyword.Type */
body .ld {
    color: #d0d0d0
}

/* Literal.Date */
body .m {
    color: #3677a9
}

/* Literal.Number */
body .s {
    color: #ed9d13
}

/* Literal.String */
body .na {
    color: #bbbbbb
}

/* Name.Attribute */
body .nb {
    color: #24909d
}

/* Name.Builtin */
body .nc {
    color: #447fcf;
    text-decoration: underline
}

/* Name.Class */
body .no {
    color: #40ffff
}

/* Name.Constant */
body .nd {
    color: #ffa500
}

/* Name.Decorator */
body .ni {
    color: #d0d0d0
}

/* Name.Entity */
body .ne {
    color: #bbbbbb
}

/* Name.Exception */
body .nf {
    color: #447fcf
}

/* Name.Function */
body .nl {
    color: #d0d0d0
}

/* Name.Label */
body .nn {
    color: #447fcf;
    text-decoration: underline
}

/* Name.Namespace */
body .nx {
    color: #d0d0d0
}

/* Name.Other */
body .py {
    color: #d0d0d0
}

/* Name.Property */
body .nt {
    color: #6ab825;
    font-weight: bold
}

/* Name.Tag */
body .nv {
    color: #40ffff
}

/* Name.Variable */
body .ow {
    color: #6ab825;
    font-weight: bold
}

/* Operator.Word */
body .w {
    color: #666666
}

/* Text.Whitespace */
body .mb {
    color: #3677a9
}

/* Literal.Number.Bin */
body .mf {
    color: #3677a9
}

/* Literal.Number.Float */
body .mh {
    color: #3677a9
}

/* Literal.Number.Hex */
body .mi {
    color: #3677a9
}

/* Literal.Number.Integer */
body .mo {
    color: #3677a9
}

/* Literal.Number.Oct */
body .sa {
    color: #ed9d13
}

/* Literal.String.Affix */
body .sb {
    color: #ed9d13
}

/* Literal.String.Backtick */
body .sc {
    color: #ed9d13
}

/* Literal.String.Char */
body .dl {
    color: #ed9d13
}

/* Literal.String.Delimiter */
body .sd {
    color: #ed9d13
}

/* Literal.String.Doc */
body .s2 {
    color: #ed9d13
}

/* Literal.String.Double */
body .se {
    color: #ed9d13
}

/* Literal.String.Escape */
body .sh {
    color: #ed9d13
}

/* Literal.String.Heredoc */
body .si {
    color: #ed9d13
}

/* Literal.String.Interpol */
body .sx {
    color: #ffa500
}

/* Literal.String.Other */
body .sr {
    color: #ed9d13
}

/* Literal.String.Regex */
body .s1 {
    color: #ed9d13
}

/* Literal.String.Single */
body .ss {
    color: #ed9d13
}

/* Literal.String.Symbol */
body .bp {
    color: #24909d
}

/* Name.Builtin.Pseudo */
body .fm {
    color: #447fcf
}

/* Name.Function.Magic */
body .vc {
    color: #40ffff
}

/* Name.Variable.Class */
body .vg {
    color: #40ffff
}

/* Name.Variable.Global */
body .vi {
    color: #40ffff
}

/* Name.Variable.Instance */
body .vm {
    color: #40ffff
}

/* Name.Variable.Magic */
body .il {
    color: #3677a9
}

/* Literal.Number.Integer.Long */
