<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ baseurl }}/static/css/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/static/css/twemoji-awesome.css" rel="stylesheet">
    <link href="{{ baseurl }}/static/css/hljs-default.min.css" rel="stylesheet">
    <title>PasteBin - All pasted files</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br><br>
            <h2 style="color:#f4511e;"><b>PasteBin</b></h2>
            <br>
            <a href="{{ baseurl }}/" class="header-nav">Home</a>
            <a href="{{ baseurl }}/all" class="header-nav active">Pasted</a>
            <a href="{{ baseurl }}/about" class="header-nav">About</a>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col" id="show-area">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <a id="button-prev" class="btn btn-light btn-sm" role="button" style="display: none">🡰 Newer Pastes</a>
                <a id="button-next" class="btn btn-light btn-sm" role="button" style="display: none">Older Pastes 🡲</a>
            </div>
        </div>
    </div>

    <br><br>
    <footer class="footer">
        <div class="container">
        <span class="text-muted">
            <strong>Copyright </strong><a href="https://github.com/cczu-osa">CCZU OSA</a> © 2018
        </span>
        </div>
    </footer>
    <br>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script>
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        num = location.href.split('/').pop().split('#')[0].split('?')[0]
        if (num === 'all') num = 1

        axios.get('{{ baseurl }}/static/languages.json').then(res => {
            languages = res.data

            axios.get('{{ baseurl }}/page/' + num).then(res => {
                s = ''
                for (i of res.data.items) {
                    link = `{{ baseurl }}/p/${i.token}`
                    poster = htmlEncode(i.poster) || 'Anonymous'
                    lang = i.language
                    if (languages[lang] === undefined) lang = ''
                    paste_time = moment.unix(i.paste_time).format('YYYY/M/D H:m')
                    content_trim = htmlEncode(i.content.split('\n', 5).join('\n'))
                    trimed = content_trim !== htmlEncode(i.content)
                    more = trimed ? `\n<a href="${link}">...more</a>` : ''

                    s += `<div class="card" style="overflow:auto">
                        <div class="card-header">
                            <a href="${link}">
                                ${i.token} [${lang || '?'}] <small>by</small> ${poster} <small>at</small> ${paste_time}
                            </a>
                        </div>
                        <div class="card-body" style="background-color: #f9f9f9;">
                            <pre class="paste" style="overflow:auto"><code class="${lang}">${content_trim}</code>${more}</pre>
                        </div>
                    </div>
                    <br>`
                }
                $('#show-area').html(s)

                hljs.initHighlighting()
                hljs.initLineNumbersOnLoad()

                current = res.data.pagination.current
                sum = res.data.pagination.sum

                button_prev = $('#button-prev')
                if (current !== 1) {
                    button_prev.prop('href', `{{ baseurl }}/all/${current - 1}`)
                    button_prev.show()
                }

                button_next = $('#button-next')
                if (current !== sum) {
                    button_next.prop('href', `{{ baseurl }}/all/${current + 1}`)
                    button_next.show()
                }
            }).catch(error => {
                try {
                    if (error.response.status === 404)
                        location.replace('{{ baseurl }}/404')
                } catch (error) {
                    console.error(error);
                }
            })
        })
    </script>
</body>
</html>
