<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" charset="utf-8" media="screen" href="/static/pastebin.css">
    <title>All Pasted Files</title>
</head>

    <body>
	<div id="outerColumnContainer" style="color: #000">
	      <div id="contentColumn">
		      <div class="inside">
	    <h1>All Pasted Files</h1>

<ul>
{% autoescape false %}
{% for value in data %}
<li><a href="/p/{{ value.url }}">Id:{{ value.url }}  Pasted in:{{ value.dat }}</a></li>
<div class="paste">
<div class="paste">
    {{ value.content }}
</div>
</div>
{% endfor %}
{% endautoescape %}
</ul>

</div>
</div>
</div>
</html>