<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-select/1.13.5/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ baseurl }}/static/css/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/static/css/twemoji-awesome.css" rel="stylesheet">
    <title>PasteBin</title>
</head>

<body>
<div class="container">
    <br><br>
    <h2 style="color:#f4511e;"><b>PasteBin</b></h2>
    <br>
    <a href="{{ baseurl }}/" class="header-nav active">Home</a>
    <a href="{{ baseurl }}/all" class="header-nav">Pasted</a>
    {#            <a href="{{ baseurl }}/post" class="header-nav">PostBin</a>#}
    <a href="{{ baseurl }}/about" class="header-nav">About</a>
</div>
<br><br>
<div class="container">
    <form id="pastefile" name="pasteform">
        <div class="card">
            <div class="card-header">
                <h4><i class="twa twa-sparkles"></i> Options</h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPoster">Poster:</label>
                        <input type="text" class="form-control" id="id_poster" name="poster"
                               aria-describedby="posterHelp" placeholder="Max 30 characters, can be blank"
                               maxlength="30">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputExpire">Expire:</label>
                        <select id="id_expire" class="form-control" name="expire">
                            <option value="2592000" selected="selected">1 month</option>
                            <option value="7776000">3 months</option>
                            <option value="3600">1 hour</option>
                            <option value="86400">1 day</option>
                            <option value="604800">1 week</option>
                            <option value="-1">Permanent</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputSecret">Secret:</label>
                        <select id="id_secret" class="form-control" name="secret">
                            <option value="false" selected="selected">No, show it on list.</option>
                            <option value="true">Yes, I want to keep it secret.</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLanguage">Language:</label>
                    <select class="selectpicker form-control" data-live-search="true" id="id_language"
                            name="syntax" autocomplete="off" title="Choose one of the following Language...">
                        <!-- filled by js -->
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h4><i class="twa twa-tada"></i> Content</h4>
            </div>

            <div class="card-body" style="padding:0;">
                <div class="form-group" style="margin-bottom:0;">
                            <textarea class="form-control" id="id_content" name="content" rows="20" wrap="off"
                                      style="overflow:scroll;font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;"></textarea>
                </div>
            </div>
        </div>
        <div style="text-align:right;">
            <button type="button" class="page-btn btn btn-radius btn-white" onclick="send()">Paste!</button>
        </div>
    </form>
</div>
<br>

<footer class="footer">
    <div class="container">
            <span class="text-muted">
                <strong>Copyright </strong><a href="https://github.com/cczu-osa">CCZU OSA</a> © 2018
            </span>
    </div>
</footer>
<br>

<div id="alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Content can not be empty!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script>
    axios.get('{{ baseurl }}/static/languages.json').then(res => {
        data = res.data
        s = ''
        for (i in data) {
            s += `<option value="${data[i]}">${i}</option>`
        }
        $('#id_language').html(s)

        $('.typeahead').typeahead(data);
        $('.selectpicker').selectpicker('refresh');
    })

    function send() {
        if ($('#id_content').val() === '') {
            $('#alert-modal').modal('show')
            return
        }
        var data = {
            poster: $('#id_poster').val(),
            language: $('#id_language').val(),
            content: $('#id_content').val(),
            expire: parseInt($('#id_expire').val()),
            secret: $('#id_secret').val() === 'true'
        }
        axios.post('{{ baseurl }}/paste', data).then(res => {
            location.href = '{{ baseurl }}/p/' + res.data.token;
        })
    }
</script>
</body>

</html>