<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <title>Pasted File</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PasteBin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all">All Pasted Files <span class="sr-only"></span></a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="#">Pasted File<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>{{ name }}</h2>
            <a href="{% autoescape false %}{{ pasted }}{% endautoescape %}" class="btn btn-light btn-sm"
               role="button" aria-pressed="true">Download</a>
            <a href="{% autoescape false %}{{ raw }}{% endautoescape %}" class="btn btn-light btn-sm" role="button"
               aria-pressed="true">Raw</a>
        </div>
        <div class="card-body" style="background-color: #f0f0f0">
            <div class="paste" style="background-color: #f0f0f0">
                {% autoescape false %}
                {{ content }}
                {% endautoescape %}
            </div>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <div class="container">
        <span class="text-muted"><strong>Copyright </strong><a href="https://github.com/cczu-osa">CCZU OSA</a> © 2018
</span>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript">
    $('.typeahead').typeahead({
        source: ["Plains Text", "XML", "Python"]
    });
</script>
</body>
</html>