<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/pastebin@1551174575.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/twemoji-awesome.css" rel="stylesheet">
    <title>This File</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br><br>
            <h2 style="color:#f4511e;"><b>PasteBin</b></h2>
            <br>
            <a href="/" class="header-nav">Home</a>
            <a href="/all" class="header-nav">Pasted</a>
            <a href="#" class="header-nav active">This</a>
            <a href="/static/about.html" class="header-nav">About</a>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="twa twa-bug"></i> This File</h4>
            <p class="card-text">
                {{ name }}
            {% if show_expire %}
                ~ {{ expire_time }}
            {% endif %}
            </p>
            <a href="{% autoescape false %}{{ pasted }}{% endautoescape %}" class="btn btn-light btn-sm"
               role="button" aria-pressed="true">Download</a>
            <a href="{% autoescape false %}{{ raw }}{% endautoescape %}" class="btn btn-light btn-sm" role="button"
               aria-pressed="true">Raw</a>
        </div>
        {#        style="background-color: #f0f0f0;overflow-x:auto"#}
        <div class="card-body" style="background-color: #f9f9f9;margin-left: -2px;margin-right: -2px;">
            <div class="paste" style="overflow-x:auto">
                {% autoescape false %}
                {{ content }}
                {% endautoescape %}
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="{% autoescape false %}{{ pasted }}{% endautoescape %}" class="btn btn-light btn-sm"
               role="button" aria-pressed="true">Download</a>
            <a href="{% autoescape false %}{{ raw }}{% endautoescape %}" class="btn btn-light btn-sm" role="button"
               aria-pressed="true">Raw</a>
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <div class="container">
        <span class="text-muted"><strong>Copyright </strong><a href="https://github.com/cczu-osa">CCZU OSA</a> © 2018
</span>
    </div>
</footer>
<br>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript">
    $('.typeahead').typeahead({
        source: ["Plains Text", "XML", "Python"]
    });
</script>
</body>
</html>